<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="/../static/styles.css" rel="stylesheet">
    <title>Hobby Hollow</title>
  </head>
  <body id = "homepage">
        <div style="text-align: center">
          <form action="/" method="post">
              <h1 class="header">Hobby Hollow</h1>
              <button class="btn btn-primary" id="login" type="submit">Login</button>
              <button class="btn btn-primary" id="register" class = "buttonsecondary" type="submit" formaction="/register">Register</button>
          </form>
        </div>
  </body>
</html>
